// PÁGINA 5
#page5(data-role='page')
  .header(data-role='header', data-theme='a')
    
  // end header
  div(data-role='navbar')
  //div(data-role='content')
    include ../B/chat.pug
    script(src='/socket.io/socket.io.js')
    script(src='../js/chat.js')
  // end content
    ul
      li
        a(href='#page1', data-icon='home', data-transition='flip') 
      li
        a(href='#page2', data-icon='heart', data-transition='flip') 
      li
        a(href='#page3', data-icon='location', data-transition='flip') 
      li
        a(href='#page4', data-icon='comment', data-transition='flip') 
      li
        a.ui-btn-active.ui-state-persist(href='#page5', data-icon='mail', data-transition='flip') 
  // end navbar
  div(data-role='content')
   include ../B/correo.pug
    
  // end content
  div(data-role='footer')
    div
      ul.footerfont
        li.font
          a.center(href="https://www.facebook.com/profile.php?id=100015732581497&ref=br_rs")
            i.fab.fa-facebook-square.fa-3x
        li.font
          a.center(href="tel:+50583812197")
            i.fab.fa-whatsapp-square.fa-3x
        li.font
          a.center(href="https://www.facebook.com/profile.php?id=100015732581497&ref=br_rs")
            i.fab.fa-instagram-square.fa-3x
        li.font
          a.center(href="https://www.facebook.com/profile.php?id=100015732581497&ref=br_rs")
            i.fab.fa-twitter-square.fa-3x      
// fin PÁGINA 5