// head
include seccion/head.pug
body 
    include seccion/header.pug

    include seccion/quienessomos.pug

    include seccion/servicios.pug

    include seccion/contacto.pug

    //include C/pagina5.pug