
section#contacto  
  div.contacto
    div.secflex.secp
      img.seccont(src="img/julioricardo95.webp", alt="julio")
      h2.h2c marketing and digital content

    ul.secflex.secul 
      li.secContac
        a(href="https://www.behance.net/julioricardo95")  <i class="fa-brands fa-behance iccon"></i>
      li.secContac
        a(href="https://www.linkedin.com/in/julioricardo95/")  <i class="fa-brands fa-linkedin iccon"></i>
      li.secContac
        a(href="tel:+50558567432")   <i class="fa-solid fa-phone iccon"></i>
      li.secContac
        a(href="https://twitter.com/julioricardo_95")  <i class="fa-brands fa-twitter iccon"></i>
      li.secContac
        a(href="https://www.facebook.com/julioricardo1995")  <i class="fa-brands fa-facebook iccon"></i>
      li.secContac
        a(href="https://www.instagram.com/julioricardo_95/")  <i class="fa-brands fa-instagram iccon"></i>
      li.secContac
        a(href="https://github.com/julioricardo95")  <i class="fa-brands fa-github iccon"></i>


  
//section#patrocinio
  div.patrocinadores
    li 
      a(href="https://r.honeygain.me/JULIO8C439") <i class="fa-regular fa-bee"></i> 
    li
      a(href="https://packetstream.io/?psr=49wQ") <i class="fa-solid fa-backpack"></i>
  