//Header
header.header

  div.header_nav

    //Logo
    div.section_margin.section_logo
      a.section_logo_a(href="/") 
        img.logo(src="img/julioricardo95.webp", alt="julioricardo95")

    //Navegacion
    div.section_margin.section_nav_bar
      ul.section_nav_list
        li.section_nav_li
          a.section_nav_a(href='#quienessomos') Quienes Somos
        li.section_nav_li
          a.section_nav_a(href='#servicio') Servicios
        li.section_nav_li
          a.section_nav_a(href='#contacto') Contacto
        li.section_nav_li
          a.section_nav_a(href='/info') info

    div.section_margin#menu-icon.bx.bx-menu

    // end navbar
  div.header_conten
    h1.header_conten_h1 welcome  

    script(src="js/script.js",type="text/javascript") 