//Header
header.header
  div.header_nav

    //Logo
    div.section_margin.section_logo
      a.section_logo_a(href="/") 
        img.logo(src="img/julioricardo95.webp", alt="julioricardo95")

    //Navegacion
    div.section_margin.section_nav_bar
      ul.section_nav_list
        li.section_nav_li
          a.section_nav_a(href='#page2') servicios
        li.section_nav_li
          a.section_nav_a(href='#page3') info
        li.section_nav_li
          a.section_nav_a(href='#page4') encuentrame
        li.section_nav_li
          a.section_nav_a(href='#page5') otro
          
    // end navbar
  div.header_conten
    h1.header_conten_h1 welcome  