// PÁGINA 3
#page3(data-role='page')
  .header(data-role='header', data-theme='a')
    
  // end header
  div(data-role='navbar')
    ul
      li
        a(href='#page1', data-icon='home', data-transition='flip') 
      li
        a(href='#page2', data-icon='heart', data-transition='flip') 
      li
        a.ui-btn-active.ui-state-persist(href='#page3', data-icon='location', data-transition='flip') 
      li
        a(href='#page4', data-icon='comment', data-transition='flip') 
      li
        a(href='#page5', data-icon='mail', data-transition='flip') 
  // end navbar
  div(data-role='content')
  
    
      iframe.pcenter(src='https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d973.9092840738874!2d-85.65501645277865!3d12.473868799999998!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f73a1d42369a13f%3A0xd61e92c14ca6364e!2zYW1wYXJvwrRz!5e0!3m2!1sen!2sni!4v1550876288201', width='100%',  frameborder='0', style='border:0', allowfullscreen='')
  // end content
  div(data-role='footer')
    div
      ul.footerfont
        li.font
          a.center(href="https://www.facebook.com/profile.php?id=100015732581497&ref=br_rs")
            i.fab.fa-facebook-square.fa-3x
        li.font
          a.center(href="tel:+50583812197")
            i.fab.fa-whatsapp-square.fa-3x
        li.font
          a.center(href="https://www.facebook.com/profile.php?id=100015732581497&ref=br_rs")
            i.fab.fa-instagram-square.fa-3x
        li.font
          a.center(href="https://www.facebook.com/profile.php?id=100015732581497&ref=br_rs")
            i.fab.fa-twitter-square.fa-3x      
// fin PÁGINA 3