// PÁGINA 2
#page2(data-role='page')
  .header(data-role='header', data-theme='a')
    
  // end header
  div(data-role='navbar')
    ul
      li
        a(href='#page1', data-icon='home', data-transition='flip') 
      li
        a.ui-btn-active.ui-state-persist(href='#page2', data-icon='heart', data-transition='flip') 
      li
        a(href='#page3', data-icon='location', data-transition='flip') 
      li
        a(href='#page4', data-icon='comment', data-transition='flip') 
      li
        a(href='#page5', data-icon='mail', data-transition='flip') 
  // end navbar
  div(data-role='content')

    li.pcentro
      div.caja
        img.imagen(src='../img/corte.jpg', alt='corte' ,loading="lazy")
        h3.texto corte
      div.caja
        img.imagen(src='../img/manicure.jpg', alt='manicure' ,loading="lazy")
        h3.texto manicure
      div.caja
        img.imagen(src='../img/maquillaje.jpg', alt='maquillaje' ,loading="lazy")
        h3.texto maquillaje
      div.caja
        img.imagen(src='../img/pedicura.jpg', alt='pedicura' ,loading="lazy")
        h3.texto pedicura
      div.caja
        img.imagen(src='../img/peinado.jpg', alt='peinado' ,loading="lazy")
        h3.texto peinado
      div.caja
        img.imagen(src='../img/planchado.jpg', alt='planchado' ,loading="lazy")
        h3.texto planchado
      div.caja
        img.imagen(src='../img/secado.jpg', alt='secado'  ,loading="lazy")
        h3.texto secado
      div.caja
        img.imagen(src='../img/tinte.jpg', alt='tinte',loading="lazy")
        h3.texto tinte
      div.caja
        img.imagen(src='../img/otros.png', alt='otros' ,loading="lazy")
        h3.texto otros
  // end content
  div(data-role='footer')
    div
      ul.footerfont
        li.font
          a.center(href="https://www.facebook.com/profile.php?id=100015732581497&ref=br_rs")
            i.fab.fa-facebook-square.fa-3x
        li.font
          a.center(href="tel:+50583812197")
            i.fab.fa-whatsapp-square.fa-3x
        li.font
          a.center(href="https://www.facebook.com/profile.php?id=100015732581497&ref=br_rs")
            i.fab.fa-instagram-square.fa-3x
        li.font
          a.center(href="https://www.facebook.com/profile.php?id=100015732581497&ref=br_rs")
            i.fab.fa-twitter-square.fa-3x      
// fin PÁGINA 2