section#quienessomos.sec_flex 
  div.secqs_margin
    div.julioricardo95
      h2 julioricardo95 
      br
      h3 Somos una Empresa que se especializa en el área digital
      br
      p Empresa multiservicios para medios digitales tales como Desarrollo web con implementación de WordPress, Marketing Digital (ADS, SEM, SEO, Email Marketing), Diseño Gráfico, Análisis de datos y Creación o Edición fotográfica o audio visual.
      br
      p Equipos de expertos especializados en áreas específicas para lograr el mejor rendimiento y los mejores resultados. 
      br
      p Nos encargamos de realizar tu tienda online y vincularla a Google analytics y social media para generar datos para hacer crecer tu negocio conociendo mejor lo que le gusta a tus clientes.

  div.secqs_margin  
    img.imgqs(src="img/como.png", alt="como equipo")