// PÁGINA SERVICIOS
section#servicios.servicios

  div.servicio
    h2 servicios

  // inicio de servicios  
  div.container
    div.card
      div.imgBox
        img.img(src="./img/branding.jpg", alt="brandig") 
      div.details
        h3 brandig
        p Una marca es lo que te idenfica y te hace diferente un buen nombre o un logo que con solo verlo ya sepan quien eres

    div.card
      div.imgBox
        img.img(src="./img/Contenido_visual.jpg", alt="contenido visual") 
      div.details
        h3 contenido visual
        p de todo lo que necesecites en ilustraciones ,post ,catalogos entre otros contenidos que puedas necesitar para tu empresa
    
    div.card
      div.imgBox
        img.img(src="./img/video_marketing.jpg",alt="video marketing") 
      div.details
        h3 video marketing
        p desde la creacion y la edicion de audiovisuales en todo lo que necesites short de 15 segundos a mas

    div.card
      div.imgBox
        img.img(src="./img/Web.jpg", alt="servicios_web") 
      div.details
        h3 derrollo web
        p Nos encargamos de hacer pagina web con WordPress para comercio electrónico o de otros tipo y que cumpla con tus necesidades

    div.card
      div.imgBox
        img.img(src="./img/ads.jpg", alt="ads") 
      div.details
        h3 ads
        p Una marca es lo que te idenfica y te hace diferente un buen nombre o un logo que con solo verlo ya sepan quien eres
    
    div.card
      div.imgBox
        img.img(src="./img/email_marketing.jpg", alt="email marketing") 
      div.details
        h3 email marketing
        p perfecto para la fidelidad de los clientes con promociones y cupones de descuentos entre otros

    div.card
      div.imgBox
        img.img(src="./img/guerrilla.jpg", alt="guerra de guerrillas") 
      div.details
        h3 guerra de guerrillas
        p mini campañas de publicidad en todas las redes sociales haciendo uso de todas las herramientas disponibles

    div.card
      div.imgBox
        img.img(src="./img/datos.jpg", alt="datos") 
      div.details
        h3 datos
        p interpolacion de los datos que necesites generamos informes ,proyecciones de ventas etc entre otros
    
    div.card
      div.imgBox
        img.img(src="./img/datos.jpg", alt="datos") 
      div.details
        h3 datos
        p interpolacion de los datos que necesites generamos informes ,proyecciones de ventas etc entre otros