// PÁGINA SERVICIOS
section#servicios.servicios
  div.servicio#servicio
  
    h2 servicios

  // inicio de servicios  
  div.container
    div.card
      div.imgBox
        img.img(src="https://secuaz.pe/wp-content/uploads/2020/09/branding.jpg", alt="brandig") 
      div.details
        h3 brandig
        p Una marca es lo que te idenfica y te hace diferente un buen nombre o un logo que con solo verlo ya sepan quien eres

    div.card
      div.imgBox
        img.img(src="https://wsiconecta.com/wp-content/uploads/2022/09/6.jpg", alt="contenido visual") 
      div.details
        h3 contenido visual
        p de todo lo que necesecites en ilustraciones ,post ,catalogos entre otros contenidos que puedas necesitar para tu empresa
    
    div.card
      div.imgBox
        img.img(src="https://cdn-bepnb.nitrocdn.com/MDcnbIfCMaNSbpkesuKRaVitLmtidhCn/assets/static/optimized/rev-799f668/wp-content/uploads/2020/07/ventajas-y-desventajas-del-video-marketing.jpg", alt="video marketing") 
      div.details
        h3 video marketing
        p desde la creacion y la edicion de audiovisuales en todo lo que necesites short de 15 segundos a mas

    div.card
      div.imgBox
        img.img(src="https://d1ih8jugeo2m5m.cloudfront.net/2021/12/ejemplos-de-paginas-web-01-1200x685.jpg", alt="servicios_web") 
      div.details
        h3 derrollo web
        p Nos encargamos de hacer pagina web con WordPress para comercio electrónico o de otros tipo y que cumpla con tus necesidades

    div.card
      div.imgBox
        img.img(src="https://zeromoment.marketing/wp-content/uploads/2021/03/encabezado-social-ads.png", alt="ads") 
      div.details
        h3 ads
        p Una marca es lo que te idenfica y te hace diferente un buen nombre o un logo que con solo verlo ya sepan quien eres
    
    div.card
      div.imgBox
        img.img(src="https://cdn.shopify.com/s/files/1/0426/9209/articles/7-consideraciones-al-hacer-email-marketing_960x502_crop_center.png?v=1597170943960w", alt="email marketing") 
      div.details
        h3 email marketing
        p perfecto para la fidelidad de los clientes con promociones y cupones de descuentos entre otros

    div.card
      div.imgBox
        img.img(src="https://marketingplatform.com/wp-content/uploads/2021/09/Email-Marketing-with-Social-Media-1080x675.png", alt="guerra de guerrillas") 
      div.details
        h3 guerra de guerrillas
        p mini campañas de publicidad en todas las redes sociales haciendo uso de todas las herramientas disponibles

    div.card
      div.imgBox
        img.img(src="https://www.marketeroslatam.com/wp-content/uploads/2021/04/Diseno-sin-titulo-60-1.jpg", alt="datos") 
      div.details
        h3 datos
        p interpolacion de los datos que necesites generamos informes ,proyecciones de ventas etc entre otros