#chat-container
      #chat-window
        #output
        #actions
      input#username(type="text" placeholder="username" required)
      input#message(type="text" placeholder="message" required)
      button#send send