.header{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100vh;
	background:white url(https://www.desmon.com/wp-content/uploads/2019/11/diseno-muebles-de-oficina.jpg) no-repeat center top;
	background-size:cover;
	backdrop-filter: blur(10px);
	min-height:120px;
}

.header_nav{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	background: rgb(255, 255, 255,.1);
	backdrop-filter: blur(10px);
}
.section_margin{
	padding: 10px 0px 10px 0px;
	display: flex;
	align-items: center;
}
.header_conten{
	margin: auto;
	background: hsla(250, 30%, 80%, 0.2);
	backdrop-filter: blur(10px);
	border-radius: 25px;
	padding: 15px;
}
.header_conten_h1{
	color: rgb(130, 137, 236);
	text-shadow: var(--text-shadow);
	font-size: clamp(4rem, 5vw, 6rem);

	color: transparent;
	background: #666666;
	background-clip: text;
	text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
}



/*barra de navegacion inicio*/
.section_nav_list{
	display: flex;
}

.section_nav_a{
	font-size: 1.5rem;
	font-weight: 700;
	color: white;
	padding: 0 10px 0 0 ;
	transition: all .50s ease;
}
.section_logo_a:hover{
	color: #01f101;
	font-size: 3rem;
}

#menu-icon{
	font-size: 35px;
	color:hsl(0, 0%, 100%);
	cursor: pointer;
	z-index: 10001;
	margin:  auto 0 auto 0;
	font-weight: bold;
	display: none;
}
#menu-icon:hover{
	color: hsl(0, 0%, 60%);
}
@media  (max-width:700px){
	#menu-icon{
		display: block;
	}
	.section_nav_list{
		position: absolute;
		flex-direction: column;
		background: rgba(0, 0, 0, 0.5);
		border-radius: 10px;
		transition: all .50s ease;
		top: 100%;
		display: none;
	}
	.section_nav_a{
		margin: 0 15px 0px 15px;
		padding: 1px 1px 1px 1px;
		display: block;
	}
	.section_nav_list.open{
		right: 5%;
		display: flex;
	}
}
/*barra de navegacion fin*/


.section_logo{
	display: flex;
	align-items: center;
	justify-content: center;

}
.section_logo_a{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50px;
	height: 50px;
}
.logo{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}
/*--------------------*/
.footerfont{
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
    list-style: none;
    display: flex;
}
.font{
    flex: auto;
    text-align: center;
}
/*--------------------*/
.imagen{
	width: 100%;
}
.caja{
	box-sizing: border-box;
	display: inline-block;
	padding: 1rem;
	width: 300px;
	text-align: center;
}
.pcentro{
	text-align: center;
	list-style: none;
}

